.hero {
	background-color: #014E56;
	padding-top: 133px;
	background-image: url(/images/section_1/sc1_bg1.png);
	background-position: left 32%;
	background-repeat: no-repeat;
}

// .container {}

.hero__container {
	padding-bottom: 255px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-image: url(/images/section_1/sc1_bg_2.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	
}

.hero__text {
	max-width: 545px;
	width: 100%;
}

.hero__title {
	color: #FFF;
	font-family: Livvic;
	font-size: 100px;
	font-style: normal;
	font-weight: 700;
	line-height: 100px;
}

.hero__talant {
	color: #F67E7E;
	font-family: Livvic;
	font-size: 100px;
	font-style: normal;
	font-weight: 700;
	line-height: 100px;
}

.hero__desc {
	max-width: 455px;
	width: 100%;

}

.hero__desc::before {
	content: "";
	width: 50px;
	height: 4px;
	background-color: #79C8C7;
	display: block;
	margin-bottom: 59px;
}

// .hero__desc::after {}

.hero__subtitle {
	color: #FFF;
	font-family: Livvic;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
}